<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='image_app.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

<h1>So you want to share your snaps?</h1>

<!--<img src="../static/images/photography.jpg" alt="GSW photography">-->

<div id="register">
    <h2>Create a profile to get started</h2>
    <a href="/register">Register</a>
</div>

<br />

<div id="log_in">
    <h3>If you already have an account, log in below</h3>
    <a href="/login">Log In</a>
</div>

<div id="gallery_browse">
    <p>Check out some of the cool photos already uploaded here</p>
    <ul id="photosUploaded">
    {% for item in gallery %}                                   <!-- need to pass in db table to render template-->
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>


</div>

</body>
</html>