<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='image_app.css') }}">
</head>
<body>
<h1>LANDING PAGE</h1>
<h2>Welcome to my image sharing app</h2>

<h3>Before we begin the fun, you need to log in or create an account</h3>

<a href="/register">Register</a>

<a href="/login">Log In</a>



<form action="/login" method="post">
    <br>
 <!-- Username: <input type="text" name="username"><br>
  Password: <input type="text" name="password"><br> -->
  <input type="submit" value="Log In">
</form>

</body>
</html>