<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='image_app.css') }}">
</head>

<body>
<div id ="welcome">
		<h1>Welcome back <span class ="profile_name">{{ name }}</span>span>!</h1>
		<h1>Hey you!</h1>
    <p>You can now upload some of your snaps to this site. Lucky you</p>
</div>

<div id="upload">
    <form action="/upload_photo" method="post" enctype=multipart/form-data>
        Upload File: <input type="file" name="file"><br>
        <br>
        <input type="submit" value="Upload">
    </form>

</div>

<div id ="logout">
    <form action="/logout" method="post" >
    <input type="submit" value="Log Out">
    </form>
</div>

</body>
</html>