<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='image_app.css') }}">
</head>
<body>

<div id="register">
<h1>Great, you want to join this world of filtering fun</h1>
<p>To register you need to provide some information. Make sure it's a combination you remember!</p>

    <form action="/register_user" method="post">
    Username: <input type="text" name="username"><br>
    Password: <input type="text" name="password"><br>
    <br>
    <input type="submit" value="Register">
    </form>


</div>

</body>
</html>